body {
    font-size: 12px;
    background-color: #CDCDD5;
}

.dark-mode {
    /* background-color: #000000;*/
    /* color: white;*/
    background-color: #151c40;
    color: #ecefe9;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ecefe9;
    color: #000000;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: #ffffff;
    color: #000000;
}

#tblSearchResult tbody tr:nth-of-type(odd) {
    background-color: #ecefe9;
    color: #000000;
   
}

.ReportCell {
    font-weight: bold;
    text-align:left;
}

#header-div {
    height: 40px;
    /* text-align:center;
    margin-top: 0;
     position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #808080;*/
}

#spanHeader {
    display: inline-block;
    font-size: 2.5em;
    color: red;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: -5px;
}

input, select, textarea, option, input[type="radio"], .table {
    font-weight: bold !important;
    font-size: 13px !important;
}



#form_jobdetails .control-label{
    padding-top: 3px;
}

#form_jobdetails input[type=radio]{
    margin-top: 0;
}


.form-group .form-control {
    height: 22px;
    padding: 3px 5px;
    font-size: 10px;
    line-height: 1.2;
    border-radius: 3px;
}

.form-group select.form-control {
    height: 20px;
    padding: 0;
    line-height: 1.2;
}

.es-list {
    z-index:9999;
}

.es-list li {
    display: block;
    padding: 0 3px;
    margin: 0;
}


#TopDiv {
    height: 60px;
    background-color: #fff;
    margin-top:0;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: ghostwhite;
    align-content: center;
    vertical-align:top;
}

#divHeader {
    width: 90%;
    align-content: center;
    margin: auto;
    color: red;
    font-weight: bold;
    margin-top: -5px;
}





#LogoDiv {
    float: left;
    width: 150px;
    /*text-align: center;*/
    padding-left: 1px;
    margin-top: -18px;
}

#Logo {
    width: 50px;
    height: 50px;
   /* align-content: center*/
}

#divSupport {
    font-size: 1.0em;
    align-content: center;
    margin-top: -30px;
    /*margin-right: 20px;
    margin-top: -20px;*/
}

#spanLogonUser {
    display: inline-block;
    padding-left:20px;
    color: red;
    font-size: 10px;
    font-weight: bold;
    align-content: center
}


.float-left {
    float: left;
}

.float-right {
    float: right;
    /*font-size: 9px;*/
    align-content: center;
}


.CRUDButton{
    width: 60px;
    height: 30px;
    text-align:center;

}

th{
    text-align:center;
}

#TextInfo_VM_CurrentTimecodes_TextInfo {
    /*width: 1000px;*/
    width: 100%;
}

#Log_VM_CurrentQCTimes_Note {
    /*width: 620px;*/
    width: 100%;
}


#TapeLayout_VM_CurrentTimecodes_Description {
    /*width: 1000px;*/
    width: 100%;
}

#TapeLayout_VM_CurrentTimecodes_ItemNum {
    width: 40px !important;
}

#Log_VM_CurrentQCTimes_ItemNum {
    width: 60px !important;
}

#Log_VM_CurrentQCTimes_QCGrade {
   /* width: 50px !important;*/
}

.environmentfooter {
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: #FFFFFF;
    font-family: Verdana;
    padding-top: 10px;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.footer {
 
    height: 50px;
    width: 100%;
    float: left;
    margin-bottom: 15px;
   /* border-top: 1px solid #CCC;*/
    margin-top: 15px;
    padding-top: 8px;
   /* background: url(../images/styles/footer_bg.png) repeat-x;*/
}

.FooterLeft {
    float: left;
    width: 600px;
    padding-left: 0;
    margin-top: 6px;
    bottom: 40px;
}

.FooterRight {
    float: right;
    text-align: right;
    vertical-align: middle;
    padding-right: 15px;
}

.selectedRow {
    background: #FFFDAF !important;
}

.subMenuOnClick, .topMenuOnClick {
    border: 2px solid lightyellow;
    /* box-shadow: 0 0 2px 2px inset;
    border-style:inset  !important;
    outline-style: outset !important;
    outline-color:  darkgrey !important;*/
}

.adminHeader {
    font-size: 14px;
    font-weight:bold;
}

button.multiselect {
    height: 24px;
    text-align:left;
    font-size: 12px;
    font-weight: bold;
}

.selectize-input {
    font-size: 12px !important;
    font-weight:bold;
    line-height: 12px !important;
    padding: 2px 2px !important;
    width: 130px !important;
}

.selectize-dropdown {
    font-size: 12px !important;
    font-weight: bold;
    line-height: 12px !important;
}

/*.selectize-input {
    height: 20px;
 
}*/



.SearchableDropdown, .SearchableDropdown_2, .SearchableDropdown_3, .SearchableDropdown_4, #Statuses {
    display: none;
    height: 18px;
}
/*.multiselect .dropdown-toggle .btn .btn-default {
    height: 24px !important;*/
/*font-family: cursive;*/
/*}*/
/********************************Bootstrap button outline override start **********************************/
/*.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

    .btn-primary.btn-outline:hover,
    .btn-success.btn-outline:hover,
    .btn-info.btn-outline:hover,
    .btn-warning.btn-outline:hover,
    .btn-danger.btn-outline:hover {
        color: #fff;
    }*/
.btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745;
}

.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border-color: #007bff;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.btn-outline-info {
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8;
}

.btn-outline-warning {
    color: #ffc107;
    background-color: transparent;
    background-image: none;
    border-color: #ffc107;
}


.btn-outline-danger {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545;
}

.btn-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa;
}

.btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}

    .btn-outline-dark:hover {
        color: #fff;
        background-color: #343a40;
        border-color: #343a40;
    }

.btn-light {
     color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;

 /*   color: #fff;
    background-color: #343a40;
    border-color: #343a40;*/
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.btn-dark:hover {
    color: #fff !important;
    background-color: #23272b;
    border-color: #1d2124;
}

.list-group-item .list-group-item {
    line-height: 8px;
}

.modal-content {
    background: #ecefe9 !important;
    color: #000;
}

.modal-content select{
      color: #000;
}
/**/
/********Bootstrap button outline override end********************************/

.timecodeBox{
    width:70px;
   
}

.checklistBorder {
   border-right: 1px solid black;
}

.checklistBorderLeft {
    border-left: 1px solid black;
}
.checklistHeader {
    font-size: 14px;
    font-weight: bold;
   /* text-decoration: underline;*/
}

.borderRight {
    border-right: 1px solid black;
}

.borderLeft {
    border-left: 1px solid black;
}

/*.PaddTopBot {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    color: #000;
}

.PaddTopBot label {
    display: inline-block;
    width: 210px;
    height: 20px;
    color: #000;
    vertical-align: middle;*/
    /*font-weight: bold;*/
    /*font-size: 1.0em;
}*/




/*table thead tr {
    display: block;
}

table th, table td {
    width: 150px;*/
    /*//fixed width*/
/*}


table tbody {
    display: block;
    height: 400px;
    overflow: auto;*/  /*  //set tbody to auto*/
/*}*/

    /***********Start Jquery Autocomplete****************************************/
.ui-menu .ui-menu-item a {
    color: #96f226;
    border-radius: 0px;
    border: 1px solid #454545;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0; 
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

    .ui-autocomplete > li > div {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333333;
        white-space: nowrap;
    }

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



/***********End Jquery Autocomplete****************************************/

/*table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    color: white;
    opacity: 1.0 !important;
}*/

/********Start Summernote*****************************/

.note-editor.note-airframe .note-editing-area .note-editable, .note-editor.note-frame .note-editing-area .note-editable {
    padding: 15px;

}

/********End Summernote**********************************************************/


.tblHeaderCell {
    text-align: left;
    /*min-width: 80px;*/
    background-color: #eee;
    font-size: 12px;
    font-weight: bold;
    color: #222;
    border-top: solid 1px #808080;
    border-bottom: solid 1px #808080;
    padding-left: 10px !important;
}

.tblHeaderNumberCell {
    width: 50px !important;
}

.tblHeaderRow {
    height: 20px;
}
/*********Start Dropzoen Overrides ********************************************/

.dropzone {
    min-height: 80px !important;
    padding: 2px !important;
    margin-top: -20px;
    background-color: lightskyblue
}

.dz-error-message, .dz-success-mark{


}

.dropzone .dz-preview.previewFiles {
    width: 100px;
}

.dropzone.hzScroll {
    width: 600px;
    overflow: auto;
    white-space: nowrap;
}
/*********End Dropzone Overrides ******************************************************************/