@model Deluxe.QCReport.Common.Models.ClientVM


    <title>Clients Managemant</title>
    <link rel="stylesheet" type="text/css" href="~/css/admin.css?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" />


<a href="#Top">&nbsp;</a>
<div id="rowTopMargin"></div>


<div class="bs-callout bs-callout-warning">
     <div class="adminHeader">Clients Management</div>

     <form id="frmClient" name="frmClient">
         <input type="hidden" id="CustID" name="CustID" />


         @*<div class="row">
            <div class="col-md-4">

            </div>

            <div class="col-md-8">
                <div class="PaddTopBot">
                    <label>Search By Customer Name (3 letters minimum) :</label><br />
                    <input id="CustomerNameSearch" class="ui-corner-all ui-textbox longTextBox" type="text" placeholder="Customer's Name search" /><br />
                    <span style="color:red;font-weight:bold;font-size:12px;">Auto search for customer's name and hit enter to display the details below.  </span>
                </div>
            </div>
        </div>*@

         <div class="row">
             <div class="col-md-12">
                 &nbsp;
             </div>
         </div>


         <div class="row">
             <div class="col-md-2">
                 <label class="control-label">Customer Name:</label>
             </div>
             <div class="col-md-4 form-group">
                 <input id="CustName" name="CustName"class="normalTextBox" type="text" placeholder="Customer Name (mandatory)" required />
             </div>

             <div class="col-md-2">
                 <label class="control-label">Address:</label>

             </div>
             <div class="col-md-4 form-group">
                 <textarea id="CustAddress" name="CustAddress" class="normalTextBox" type="text" placeholder="Customer Address (optional)" rows="3"></textarea>
             </div>

         </div>



         <div class="row">
             <div class="col-md-2">
                 <label class="control-label">Phone Number:</label>
             </div>
             <div class="col-md-4">
                 <input id="CustPhone" name="CustPhone" " type="text" placeholder="Phone number (optional)" />
             </div>

             <div class="col-md-2">
                 <label class="control-label">Customer Code:</label>
             </div>
             <div class="col-md-4  form-group">
                 <input id="CustCode" name="CustCode"  type="text" placeholder="Customer Code (optional)" />
             </div>

         </div>

         <div class="row">
             <div class="col-md-2">
                 <label class="control-label">>Grading Scale:</label>

             </div>
             <div class="col-md-4  form-group">
                 <select id="GradingScale" name="GradingScale" class="ui-corner-all ui-textbox" type="text" style="width:180px">
                     <option value="" selected>Select Grade Scale</option>
                     <option value="3">3</option>
                     <option value="4">4</option>
                     <option value="5">5</option>
                 </select>
             </div>
         </div>

         <div class="row">
             <div class="col-md-2">
                 &nbsp;
             </div>
             <div class="col-md-4">
                 <button type="button" id="SaveClient" name="SaveClient" class="btn btn-info">
                     Add New
                 </button>
                 <button type="button" id="ResetClientFields" name="ResetClientFields" class="btn btn-danger">
                     Reset
                 </button>
             </div>


         </div>


         <div class="row">
             <div class="col-md-12">
                 &nbsp;
             </div>
         </div>

         <div class="row">
             <div class="col-md-2">
                 &nbsp;
             </div>
             <div class="col-md-10">
                 <label class="control-label">&nbsp;</label>
                 <span id="divClientMessage" class="divMessage"></span>
             </div>
         </div>


     </form>



    <div class="row" id="divUsers" style="overflow:auto;height:400px;">
        @{Html.RenderPartial("_ClientsGrid", Model);}
    </div>


</div>

<div class="row">&nbsp;</div>
<div class="row" id="divClients" style="overflow:auto;height:400px;"></div>


<script type="text/javascript" src="~/Scripts/Custom/client.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
