@model Deluxe.QCReport.Common.Models.ControlRoomVM

<title>Control Rooms Managemant</title>
<link rel="stylesheet" type="text/css" href="~/css/admin.css?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" />


<a href="#Top">&nbsp;</a>
<div id="rowTopMargin"></div>

<div class="bs-callout bs-callout-warning">
    <div class="adminHeader">Control Rooms Management - Under Development</div>

    <form id="frmControlRoom" name="frmControlRoom" >
        @Html.HiddenFor(m => m.QCRoomID);

        <div class="row">

        </div>

        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>

        <div class="row">

        </div>

    </form>

</div>

<script type="text/javascript" src="~/Scripts/Custom/ControlRoom.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>


