@model Deluxe.QCReport.Common.Models.FormatVM

<title>Formats Managemant</title>
<link rel="stylesheet" type="text/css" href="~/css/admin.css?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" />


<a href="#Top">&nbsp;</a>
<div id="rowTopMargin"></div>

<div class="bs-callout bs-callout-warning">
    <div class="adminHeader">Formats Management - Under Development</div>

    <form id="frmFormat" name="frmFormat">
          @Html.HiddenFor(m => m.FormatID);

        <div class="row">
            
        </div>

        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>

        <div class="row">
           
        </div>

    </form>

</div>

<script type="text/javascript" src="~/Scripts/Custom/format.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>

