@model Deluxe.QCReport.Common.Models.LocationsVM

    <title>Locations Managemant</title>
    <link rel="stylesheet" type="text/css" href="~/css/admin.css?v=@DateTime.Now.ToString("yyyyMMddHHmmss")" />


<a href="#Top">&nbsp;</a>
<div id="rowTopMargin"></div>

<div class="bs-callout bs-callout-warning">
    <div class="adminHeader">Locations Management</div>

    <form id="frmLocation" name="frmLocation">
        <input type="hidden" id="pkey" name="pkey" />


        <div class="row">
            <div class="col-md-12">
                &nbsp;
            </div>
        </div>


        <div class="row">
            <div class="col-md-2">
                <label class="control-label">Location:</label>
            </div>
            <div class="col-md-4  form-group">
                <input id="Location" name="Location" class="normalTextBox" type="text" placeholder="Location (mandatory)" required />
            </div>

            <div class="col-md-2">
                <label class="control-label">Address:</label>
            </div>
            <div class="col-md-4  form-group">
                <textarea id="Address" name="Address" class="normalTextBox" type="text" placeholder="Address (mandatory)" rows="3"></textarea>
            </div>

        </div>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-4">
                <button type="button" id="SaveLocation" name="SaveLocation" class="btn btn-info">
                    Add New
                </button>
                <button type="button" id="ResetLocationFields" name="ResetLocationFields" class="btn btn-danger">
                    Reset
                </button>
            </div>


        </div>


    </form>


    <div class="row" id="divLocations" style="overflow:auto;height:400px;">
        @{Html.RenderPartial("_LocationsGrid", Model);}
    </div>

</div>

<script type="text/javascript" src="~/Scripts/Custom/location.js?v=@DateTime.Now.ToString("yyyyMMddHHmmss")"></script>
