<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <!--Dev -->  
    <add name="SqlConnection" connectionString="Data Source=.;Initial Catalog=qcsuk;Persist Security Info=True;User ID=bward;Password=qcuser" providerName="System.Data.SqlClient" />
    <add name="Deluxe.QCReport.Common.Properties.Settings.qcsukConnectionString" connectionString="Data Source=.;Initial Catalog=qcsuk;Persist Security Info=True;User ID=bward;Password=qcuser" providerName="System.Data.SqlClient" />
   
    <!--Stage  
    <add name="SqlConnection" connectionString="Data Source=dln-s-mssql-204.services.bydeluxe.net;Initial Catalog=qcsuk;Persist Security Info=True;User ID=bward;Password=qcuser" providerName="System.Data.SqlClient" />
    <add name="Deluxe.QCReport.Common.Properties.Settings.qcsukConnectionString" connectionString="Data Source=dln-s-mssql-204.services.bydeluxe.net;Initial Catalog=qcsuk;Persist Security Info=True;User ID=bward;Password=qcuser" providerName="System.Data.SqlClient" />
   -->

    <!--Prod  
    <add name="SqlConnection" connectionString="Data Source=172.26.128.26;Initial Catalog=qcsuk;Persist Security Info=True;User ID=bward;Password=qcuser" providerName="System.Data.SqlClient"/>
    <add name="Deluxe.QCReport.Common.Properties.Settings.qcsukConnectionString" connectionString="Data Source=172.26.128.26;Initial Catalog=qcsuk;Persist Security Info=True;User ID=bward;Password=qcuser" providerName="System.Data.SqlClient"/>
    -->
    
    <add name="DevConn" connectionString="Data Source=.;Initial Catalog=qcsuk;Persist Security Info=True;User ID=bward;Password=qcuser" providerName="System.Data.SqlClient" />
    <add name="StageConn" connectionString="Data Source=dln-s-mssql-204.services.bydeluxe.net;Initial Catalog=qcsuk;Persist Security Info=True;User ID=bward;Password=qcuser" providerName="System.Data.SqlClient" />
    <add name="ProdConn" connectionString="Data Source=172.26.128.26;Initial Catalog=qcsuk;Persist Security Info=True;User ID=bward;Password=qcuser" providerName="System.Data.SqlClient" />


  </connectionStrings>



  <appSettings>
    <add key="IsDebug" value="true" />
    <add key="DatabaseConnection" value="DevConn" />
    <add key="WebsiteUrl" value="http://qcdev.bydeluxe.com/" />
    <add key="Mailer.Host" value="smtp.bydeluxe.com" />
    <add key="Smtp.Server" value="smtp.bydeluxe.com" />
    <add key="Mailer.From" value="isaac.koomson@bydeluxe.com" />
    <add key="Mailer.To" value="isaac.koomson@bydeluxe.com" />
    <add key="Mailer.BCC" value="isaac.koomson@bydeluxe.com" />
    <add key="Mailer.Support" value="isaac.koomson@bydeluxe.com" />
    <add key="WebsiteSupportEmail" value="isaac.koomson@bydeluxe.com" />
    <add key="Mailer.QCTeam" value="isaac.koomson@bydeluxe.com" />
    <add key="NewUser-Subject" value="QC Rport - New User" />
    <add key="ForgottenUserDetails-Subject" value="QC Report - Forgotten Username/Password" />
    <add key="QC-PrintOut" value="http://qcprintout-dev.bydeluxe.com/reports/StartPrinting.asp" />
    <add key="Image-Extensions" value=".dpx,.tiff,.tif,.jpg,.jpeg,.png,.bmp,.exr,.gif" />
    <add key="Max-Files-Per-Upload" value="1" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <!--This is for IIS 7.0 and above for file upload-->
    <security>
      <requestFiltering>
        <!-- Max file size set to 2GB -->
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
            <authentication>
                <anonymousAuthentication enabled="false" />
            </authentication>
    </security>
    
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  
  </system.webServer>
  
  
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>

    <!-- Max file size set to 2GB, execution timeout = 30 minutes  -->
    <httpRuntime maxRequestLength="2097151" executionTimeout="30" enableVersionHeader="false" targetFramework="4.6" />
    <customErrors mode="Off" />
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.6" />
 </system.web>

  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>