
.PaddTopBot {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    color: #000;
}

.PaddTopBot label {
        display: inline-block;
        width: 300px;
        height: 20px;
        color: #000;
        vertical-align: middle;
        /*font-weight: bold;*/
        font-size: 1.0em;
    }

.PaddTopBot2 {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    color: #000;
}

    .PaddTopBot2 label {
        display: inline-block;
        width: 120px;
        height: 20px;
        color: #000;
        vertical-align: middle;
        /*font-weight: bold;*/
        font-size: 1.0em;
    }

.normalTextBox {
    width: 300px !important;
}

.normalTextBox-2 {
    width: 350px !important;
}

.shortTextBox {
    width: 200px !important;
}


.longTextBox {
    width: 450px !important;
}

.veryLongTextBox {
    width: 500px !important;
}

.veryVeryLongTextBox {
    width: 750px !important;
}


.extraLongTextBox {
    width: 1000px !important;
}


#rowTopMargin {
    margin-top: 60px;
}

tr {
    cursor: pointer;
}

.divMessage, #divMessage {
    font-size: 12px;
    font-weight: bold;
    color: red;
}


fieldset {
    width: 500px;
}

legend {
    width: 400px;
}

