@model Deluxe.QCReport.Web.Models.HomeVM

<div class="bs-callout bs-callout-warning">

    <div class="row" style="margin-top: -25px;">

        <div class="col-xs-7" style="font-size:14px;font-weight:bold">
            @string.Format("{0} - {1}: Banijay Rights - Programme Details ", Model.BNJRProgrammeDetails.QCNum, Model.BNJRProgrammeDetails.SubQCNum)
        </div>

        @if (Model.SecurityLevel >= 1)
        {

            <div class="col-xs-5 text-center">

                <button class="btn btn-xs btn-primary CRUDButton" id="btnSave">Save</button>
            </div>

        }

    </div>


    @using (Html.BeginForm("SaveProgrammeDetails", "BanijayRights", FormMethod.Post, new { @class = "form-horizontal form-group-sm", @style = "margin-top: 20px;", @id = "form_jobdetails" }))
    {
        @Html.HiddenFor(m => m.BNJRProgrammeDetails.QCNum);
        @Html.HiddenFor(m => m.BNJRProgrammeDetails.SubQCNum);







    }



</div>
