@model Deluxe.QCReport.Web.Models.HomeVM


<div class="row">

    <div class="col-xs-3" style="font-size:14px;font-weight:bold">
        @string.Format("{0} - {1}: Banijay Rights - Text Details ",
       Model.BanijayRightsTextDetails.QCNum, Model.BanijayRightsTextDetails.SubQCNum)
    </div>

    @if (Model.SecurityLevel >= 1)
    {

        <div class="col-xs-3 text-center">

            <button class="btn btn-xs btn-primary CRUDButton" id="btnSave">Save</button>
        </div>

    }

</div>



<div class="bs-callout bs-callout-warning">
    @using (Html.BeginForm("SaveTextDetails", "BanijayRights", FormMethod.Post,
        new { @class = "form-horizontal form-group-sm", @style = "margin-top: 20px;", @id = "form_jobdetails" }))
    {
        @Html.HiddenFor(m => m.BanijayRightsTextDetails.QCNum);
        @Html.HiddenFor(m => m.BanijayRightsTextDetails.SubQCNum);





    }



</div>

