USE [QCSUK]
GO


ALTER TABLE [bward].[qcAudioTC]
ADD InPhase1 varchar(3),
 InPhase2 varchar(3),
 InPhase3 varchar(3),
 InPhase4 varchar(3),
 InPhase5 varchar(3),
 InPhase6 varchar(3),
 InPhase7 varchar(3),
 InPhase8 varchar(3),
 InPhase9 varchar(3),
 InPhase10 varchar(3),
 InPhase11 varchar(3),
 InPhase12 varchar(3),
 InPhase13 varchar(3),
 InPhase14 varchar(3),
 InPhase15 varchar(3),
 InPhase16 varchar(3),
 InPhase17 varchar(3),
 InPhase18 varchar(3),
 InPhase19 varchar(3),
 InPhase20 varchar(3),
 InPhase21 varchar(3),
 InPhase22 varchar(3),
 InPhase23 varchar(3),
 InPhase24 varchar(3),
 Discreate1 varchar(3),
 Discreate2 varchar(3),
 Discreate3 varchar(3),
 Discreate4 varchar(3),
 Discreate5 varchar(3),
 Discreate6 varchar(3),
 Discreate7 varchar(3),
 Discreate8 varchar(3),
 Discreate9 varchar(3),
 Discreate10 varchar(3),
 Discreate11 varchar(3),
 Discreate12 varchar(3),
 Discreate13 varchar(3),
 Discreate14 varchar(3),
 Discreate15 varchar(3),
 Discreate16 varchar(3),
 Discreate17 varchar(3),
 Discreate18 varchar(3),
 Discreate19 varchar(3),
 Discreate20 varchar(3),
 Discreate21 varchar(3),
 Discreate22 varchar(3),
 Discreate23 varchar(3),
 Discreate24 varchar(3)

 GO

 ALTER PROCEDURE [bward].[sp_SelectAudioTC]
	@_QCNum int,
	@_rev int
	
AS
BEGIN
	DECLARE @ErrorMsg VARCHAR(300)
	
	SELECT 
		Language, ChannelCount,
		Language1, Language2, Language3, Language4, Language5, Language6, 
		Language7, Language8, Language9, Language10, Language11, Language12, 
		Language13, Language14, Language15, Language16, Language17, Language18, 
		Language19, Language20, Language21, Language22, Language23, Language24,
		ch1_desc, ch1_LKFS, ch1_tone, ch1_avg, ch1_peak, ch1_TruePeak,
		ch2_desc, ch2_LKFS, ch2_tone, ch2_avg, ch2_peak, ch2_TruePeak,
		ch3_desc,  ch3_LKFS, ch3_tone, ch3_avg, ch3_peak, ch3_TruePeak,
		ch4_desc,  ch4_LKFS, ch4_tone, ch4_avg, ch4_peak, ch4_TruePeak,
		ch5_desc,  ch5_LKFS, ch5_tone, ch5_avg, ch5_peak, ch5_TruePeak,
		ch6_desc,  ch6_LKFS, ch6_tone, ch6_avg, ch6_peak, ch6_TruePeak,
		ch7_desc,  ch7_LKFS, ch7_tone, ch7_avg, ch7_peak, ch7_TruePeak,
		ch8_desc,  ch8_LKFS, ch8_tone, ch8_avg, ch8_peak, ch8_TruePeak,
		ch9_desc,  ch9_LKFS, ch9_tone, ch9_avg, ch9_peak, ch9_TruePeak,
		ch10_desc, ch10_LKFS,  ch10_tone, ch10_avg, ch10_peak, ch10_TruePeak,
		ch11_desc, ch11_LKFS,  ch11_tone, ch11_avg, ch11_peak, ch11_TruePeak,
		ch12_desc,  ch12_LKFS, ch12_tone, ch12_avg, ch12_peak, ch12_TruePeak,
		ch13_desc, ch13_LKFS,  ch13_tone, ch13_avg, ch13_peak, ch13_TruePeak,
		ch14_desc, ch14_LKFS,  ch14_tone, ch14_avg, ch14_peak, ch14_TruePeak,
		ch15_desc, ch15_LKFS,  ch15_tone, ch15_avg, ch15_peak, ch15_TruePeak,
		ch16_desc, ch16_LKFS,  ch16_tone, ch16_avg, ch16_peak, ch16_TruePeak,
		ch17_desc, ch17_LKFS,  ch17_tone, ch17_avg, ch17_peak, ch17_TruePeak,
		ch18_desc, ch18_LKFS,  ch18_tone, ch18_avg, ch18_peak, ch18_TruePeak,
		ch19_desc, ch19_LKFS,  ch19_tone, ch19_avg, ch19_peak, ch19_TruePeak,
		ch20_desc, ch20_LKFS,  ch20_tone, ch20_avg, ch20_peak, ch20_TruePeak,
		ch21_desc, ch21_LKFS,  ch21_tone, ch21_avg, ch21_peak, ch21_TruePeak,
		ch22_desc, ch22_LKFS,  ch22_tone, ch22_avg, ch22_peak, ch22_TruePeak,
		ch23_desc, ch23_LKFS,  ch23_tone, ch23_avg, ch23_peak, ch23_TruePeak,
		ch24_desc, ch24_LKFS,  ch24_tone, ch24_avg, ch24_peak, ch24_TruePeak,

		InPhase1, InPhase2, InPhase3, InPhase4, InPhase5, InPhase6, 
		InPhase7, InPhase8, InPhase9, InPhase10, InPhase11, InPhase12, 
		InPhase13, InPhase14, InPhase15, InPhase16, InPhase17, InPhase18, 
		InPhase19, InPhase20, InPhase21, InPhase22, InPhase23, InPhase24,

		Discreate1, Discreate2, Discreate3, Discreate4, Discreate5, Discreate6, 
		Discreate7, Discreate8, Discreate9, Discreate10, Discreate11, Discreate12, 
		Discreate13, Discreate14, Discreate15, Discreate16, Discreate17, Discreate18, 
		Discreate19, Discreate20, Discreate21, Discreate22, Discreate23, Discreate24,
		
		FullQC_Vid, FullQC_cue,
		FullQC_ch1, FullQC_ch2, FullQC_ch3, FullQC_ch4, 
		FullQC_ch5, FullQC_ch6, FullQC_ch7, FullQC_ch8, 
		FullQC_ch9, FullQC_ch10, FullQC_ch11, FullQC_ch12,
		FullQC_ch13,FullQC_ch14, FullQC_ch15, FullQC_ch16,
		FullQC_ch17,FullQC_ch18, FullQC_ch19, FullQC_ch20, 
		FullQC_ch21,FullQC_ch22, FullQC_ch23, FullQC_ch24,
		SpotQC_vid, SpotQC_cue, 
		SpotQC_ch1, SpotQC_ch2, SpotQC_ch3, SpotQC_ch4, 
		SpotQC_ch5, SpotQC_ch6, SpotQC_ch7, SpotQC_ch8,
		SpotQC_ch9, SpotQC_ch10, SpotQC_ch11, SpotQC_ch12,
		SpotQC_ch13,SpotQC_ch14, SpotQC_ch15, SpotQC_ch16,
		SpotQC_ch17,SpotQC_ch18, SpotQC_ch19, SpotQC_ch20, 
		SpotQC_ch21,SpotQC_ch22, SpotQC_ch23, SpotQC_ch24,
		cue_desc, cue_LKFS,  cue_tone, cue_avg, cue_peak, cue_TruePeak,
		NR, time_code, CH12_Phase, CH34_Phase, QCinUnity, LTC_VITC_Match, SurroundSound, 
		TCInteg, Tone_Phase, Comp_Sync
	FROM 
		[bward].qcAudioTC a
	JOIN [bward].qcHeader h on a.qcNum = h.Qcnum and a.subQCNum = h.subQcnum
	WHERE 
		a.qcNum = @_QCNum
		AND a.subQCNum = @_rev
	
		
		
IF @@ERROR <> 0
	BEGIN
		SET @errorMsg = 'Could not select qcAudioTC (sp_SelectAudioTC)'
		GOTO Error
	END
		
Error:

	IF (@errorMsg IS NOT NULL)
	BEGIN
		RAISERROR(@errorMsg, 16, 1)
	END
	
END

GO

ALTER PROCEDURE [bward].[sp_UpdateAudioTC]
	@_QCNum int,
	@_rev int,
	@_language1 VARCHAR(40) = NULL,
	@_language2 VARCHAR(40) = NULL,
	@_language3 VARCHAR(40) = NULL,
	@_language4 VARCHAR(40) = NULL,
	@_language5 VARCHAR(40) = NULL,
	@_language6 VARCHAR(40) = NULL,
	@_language7 VARCHAR(40) = NULL,
	@_language8 VARCHAR(40) = NULL,
	@_language9 VARCHAR(40) = NULL,
	@_language10 VARCHAR(40) = NULL,
	@_language11 VARCHAR(40) = NULL,
	@_language12 VARCHAR(40) = NULL,
	@_language13 VARCHAR(40) = NULL,
	@_language14 VARCHAR(40) = NULL,
	@_language15 VARCHAR(40) = NULL,
	@_language16 VARCHAR(40) = NULL,
	@_language17 VARCHAR(40) = NULL,
	@_language18 VARCHAR(40) = NULL,
	@_language19 VARCHAR(40) = NULL,
	@_language20 VARCHAR(40) = NULL,
	@_language21 VARCHAR(40) = NULL,
	@_language22 VARCHAR(40) = NULL,
	@_language23 VARCHAR(40) = NULL,
	@_language24 VARCHAR(40) = NULL,
	@_chCount VARCHAR(40) = NULL,
	@_ch1_Desc VARCHAR(40) = NULL,
	@_ch2_Desc VARCHAR(40) = NULL,
	@_ch3_Desc VARCHAR(40) = NULL,
	@_ch4_Desc VARCHAR(40) = NULL,
	@_ch5_Desc VARCHAR(40) = NULL,
	@_ch6_Desc VARCHAR(40) = NULL,
	@_ch7_Desc VARCHAR(40) = NULL,
	@_ch8_Desc VARCHAR(40) = NULL,
	@_ch9_Desc VARCHAR(40) = NULL,
	@_ch10_Desc VARCHAR(40) = NULL,
	@_ch11_Desc VARCHAR(40) = NULL,
	@_ch12_Desc VARCHAR(40) = NULL,
	@_ch13_Desc VARCHAR(40) = NULL,
	@_ch14_Desc VARCHAR(40) = NULL,
	@_ch15_Desc VARCHAR(40) = NULL,
	@_ch16_Desc VARCHAR(40) = NULL,
	@_ch17_Desc VARCHAR(40) = NULL,
	@_ch18_Desc VARCHAR(40) = NULL,
	@_ch19_Desc VARCHAR(40) = NULL,
	@_ch20_Desc VARCHAR(40) = NULL,
	@_ch21_Desc VARCHAR(40) = NULL,
	@_ch22_Desc VARCHAR(40) = NULL,
	@_ch23_Desc VARCHAR(40) = NULL,
	@_ch24_Desc VARCHAR(40) = NULL,
	@_cue_Desc VARCHAR(40) = NULL,
	@_ch1_LKFS VARCHAR(100) = NULL,
	@_ch2_LKFS VARCHAR(100) = NULL,
	@_ch3_LKFS VARCHAR(100) = NULL,
	@_ch4_LKFS VARCHAR(100) = NULL,
	@_ch5_LKFS VARCHAR(100) = NULL,
	@_ch6_LKFS VARCHAR(100) = NULL,
	@_ch7_LKFS VARCHAR(100) = NULL,
	@_ch8_LKFS VARCHAR(100) = NULL,
	@_ch9_LKFS VARCHAR(100) = NULL,
	@_ch10_LKFS VARCHAR(100) = NULL,
	@_ch11_LKFS VARCHAR(100) = NULL,
	@_ch12_LKFS VARCHAR(100) = NULL,
	@_ch13_LKFS VARCHAR(100) = NULL,
	@_ch14_LKFS VARCHAR(100) = NULL,
	@_ch15_LKFS VARCHAR(100) = NULL,
	@_ch16_LKFS VARCHAR(100) = NULL,
	@_ch17_LKFS VARCHAR(100) = NULL,
	@_ch18_LKFS VARCHAR(100) = NULL,
	@_ch19_LKFS VARCHAR(100) = NULL,
	@_ch20_LKFS VARCHAR(100) = NULL,
	@_ch21_LKFS VARCHAR(100) = NULL,
	@_ch22_LKFS VARCHAR(100) = NULL,
	@_ch23_LKFS VARCHAR(100) = NULL,
	@_ch24_LKFS VARCHAR(100) = NULL,
	@_cue_LKFS VARCHAR(100) = NULL,
	@_ch1_Tone VARCHAR(15) = NULL,
	@_ch2_Tone VARCHAR(15) = NULL,
	@_ch3_Tone VARCHAR(15) = NULL,
	@_ch4_Tone VARCHAR(15) = NULL,
	@_ch5_Tone VARCHAR(15) = NULL,
	@_ch6_Tone VARCHAR(15) = NULL,
	@_ch7_Tone VARCHAR(15) = NULL,
	@_ch8_Tone VARCHAR(15) = NULL,
	@_ch9_Tone VARCHAR(15) = NULL,
	@_ch10_Tone VARCHAR(15) = NULL,
	@_ch11_Tone VARCHAR(15) = NULL,
	@_ch12_Tone VARCHAR(15) = NULL,
	@_ch13_Tone VARCHAR(15) = NULL,
	@_ch14_Tone VARCHAR(15) = NULL,
	@_ch15_Tone VARCHAR(15) = NULL,
	@_ch16_Tone VARCHAR(15) = NULL,
	@_ch17_Tone VARCHAR(15) = NULL,
	@_ch18_Tone VARCHAR(15) = NULL,
	@_ch19_Tone VARCHAR(15) = NULL,
	@_ch20_Tone VARCHAR(15) = NULL,
	@_ch21_Tone VARCHAR(15) = NULL,
	@_ch22_Tone VARCHAR(15) = NULL,
	@_ch23_Tone VARCHAR(15) = NULL,
	@_ch24_Tone VARCHAR(15) = NULL,
	@_cue_Tone VARCHAR(15) = NULL,
	@_ch1_Avg VARCHAR(15) = NULL,
	@_ch2_Avg VARCHAR(15) = NULL,
	@_ch3_Avg VARCHAR(15) = NULL,
	@_ch4_Avg VARCHAR(15) = NULL,
	@_ch5_Avg VARCHAR(15) = NULL,
	@_ch6_Avg VARCHAR(15) = NULL,
	@_ch7_Avg VARCHAR(15) = NULL,
	@_ch8_Avg VARCHAR(15) = NULL,
	@_ch9_Avg VARCHAR(15) = NULL,
	@_ch10_Avg VARCHAR(15) = NULL,
	@_ch11_Avg VARCHAR(15) = NULL,
	@_ch12_Avg VARCHAR(15) = NULL,
	@_ch13_Avg VARCHAR(15) = NULL,
	@_ch14_Avg VARCHAR(15) = NULL,
	@_ch15_Avg VARCHAR(15) = NULL,
	@_ch16_Avg VARCHAR(15) = NULL,
	@_ch17_Avg VARCHAR(15) = NULL,
	@_ch18_Avg VARCHAR(15) = NULL,
	@_ch19_Avg VARCHAR(15) = NULL,
	@_ch20_Avg VARCHAR(15) = NULL,
	@_ch21_Avg VARCHAR(15) = NULL,
	@_ch22_Avg VARCHAR(15) = NULL,
	@_ch23_Avg VARCHAR(15) = NULL,
	@_ch24_Avg VARCHAR(15) = NULL,
	@_cue_Avg VARCHAR(15) = NULL,
	@_ch1_Peak VARCHAR(15) = NULL,
	@_ch2_Peak VARCHAR(15) = NULL,
	@_ch3_Peak VARCHAR(15) = NULL,
	@_ch4_Peak VARCHAR(15) = NULL,
	@_ch5_Peak VARCHAR(15) = NULL,
	@_ch6_Peak VARCHAR(15) = NULL,
	@_ch7_Peak VARCHAR(15) = NULL,
	@_ch8_Peak VARCHAR(15) = NULL,
	@_ch9_Peak VARCHAR(15) = NULL,
	@_ch10_Peak VARCHAR(15) = NULL,
	@_ch11_Peak VARCHAR(15) = NULL,
	@_ch12_Peak VARCHAR(15) = NULL,
	@_ch13_Peak VARCHAR(15) = NULL,
	@_ch14_Peak VARCHAR(15) = NULL,
	@_ch15_Peak VARCHAR(15) = NULL,
	@_ch16_Peak VARCHAR(15) = NULL,
	@_ch17_Peak VARCHAR(15) = NULL,
	@_ch18_Peak VARCHAR(15) = NULL,
	@_ch19_Peak VARCHAR(15) = NULL,
	@_ch20_Peak VARCHAR(15) = NULL,
	@_ch21_Peak VARCHAR(15) = NULL,
	@_ch22_Peak VARCHAR(15) = NULL,
	@_ch23_Peak VARCHAR(15) = NULL,
	@_ch24_Peak VARCHAR(15) = NULL,
	@_cue_Peak VARCHAR(15) = NULL,
	@_ch1_TruePeak VARCHAR(15) = NULL,
	@_ch2_TruePeak VARCHAR(15) = NULL,
	@_ch3_TruePeak VARCHAR(15) = NULL,
	@_ch4_TruePeak VARCHAR(15) = NULL,
	@_ch5_TruePeak VARCHAR(15) = NULL,
	@_ch6_TruePeak VARCHAR(15) = NULL,
	@_ch7_TruePeak VARCHAR(15) = NULL,
	@_ch8_TruePeak VARCHAR(15) = NULL,
	@_ch9_TruePeak VARCHAR(15) = NULL,
	@_ch10_TruePeak VARCHAR(15) = NULL,
	@_ch11_TruePeak VARCHAR(15) = NULL,
	@_ch12_TruePeak VARCHAR(15) = NULL,
	@_ch13_TruePeak VARCHAR(15) = NULL,
	@_ch14_TruePeak VARCHAR(15) = NULL,
	@_ch15_TruePeak VARCHAR(15) = NULL,
	@_ch16_TruePeak VARCHAR(15) = NULL,
	@_ch17_TruePeak VARCHAR(15) = NULL,
	@_ch18_TruePeak VARCHAR(15) = NULL,
	@_ch19_TruePeak VARCHAR(15) = NULL,
	@_ch20_TruePeak VARCHAR(15) = NULL,
	@_ch21_TruePeak VARCHAR(15) = NULL,
	@_ch22_TruePeak VARCHAR(15) = NULL,
	@_ch23_TruePeak VARCHAR(15) = NULL,
	@_ch24_TruePeak VARCHAR(15) = NULL,
	@_cue_TruePeak VARCHAR(15) = NULL,

	@_ch1_InPhase VARCHAR(3) = NULL,
	@_ch2_InPhase VARCHAR(3) = NULL,
	@_ch3_InPhase VARCHAR(3) = NULL,
	@_ch4_InPhase VARCHAR(3) = NULL,
	@_ch5_InPhase VARCHAR(3) = NULL,
	@_ch6_InPhase VARCHAR(3) = NULL,
	@_ch7_InPhase VARCHAR(3) = NULL,
	@_ch8_InPhase VARCHAR(3) = NULL,
	@_ch9_InPhase VARCHAR(3) = NULL,
	@_ch10_InPhase VARCHAR(3) = NULL,
	@_ch11_InPhase VARCHAR(3) = NULL,
	@_ch12_InPhase VARCHAR(3) = NULL,
	@_ch13_InPhase VARCHAR(3) = NULL,
	@_ch14_InPhase VARCHAR(3) = NULL,
	@_ch15_InPhase VARCHAR(3) = NULL,
	@_ch16_InPhase VARCHAR(3) = NULL,
	@_ch17_InPhase VARCHAR(3) = NULL,
	@_ch18_InPhase VARCHAR(3) = NULL,
	@_ch19_InPhase VARCHAR(3) = NULL,
	@_ch20_InPhase VARCHAR(3) = NULL,
	@_ch21_InPhase VARCHAR(3) = NULL,
	@_ch22_InPhase VARCHAR(3) = NULL,
	@_ch23_InPhase VARCHAR(3) = NULL,
	@_ch24_InPhase VARCHAR(3) = NULL,

	@_ch1_Discreate VARCHAR(3) = NULL,
	@_ch2_Discreate VARCHAR(3) = NULL,
	@_ch3_Discreate VARCHAR(3) = NULL,
	@_ch4_Discreate VARCHAR(3) = NULL,
	@_ch5_Discreate VARCHAR(3) = NULL,
	@_ch6_Discreate VARCHAR(3) = NULL,
	@_ch7_Discreate VARCHAR(3) = NULL,
	@_ch8_Discreate VARCHAR(3) = NULL,
	@_ch9_Discreate VARCHAR(3) = NULL,
	@_ch10_Discreate VARCHAR(3) = NULL,
	@_ch11_Discreate VARCHAR(3) = NULL,
	@_ch12_Discreate VARCHAR(3) = NULL,
	@_ch13_Discreate VARCHAR(3) = NULL,
	@_ch14_Discreate VARCHAR(3) = NULL,
	@_ch15_Discreate VARCHAR(3) = NULL,
	@_ch16_Discreate VARCHAR(3) = NULL,
	@_ch17_Discreate VARCHAR(3) = NULL,
	@_ch18_Discreate VARCHAR(3) = NULL,
	@_ch19_Discreate VARCHAR(3) = NULL,
	@_ch20_Discreate VARCHAR(3) = NULL,
	@_ch21_Discreate VARCHAR(3) = NULL,
	@_ch22_Discreate VARCHAR(3) = NULL,
	@_ch23_Discreate VARCHAR(3) = NULL,
	@_ch24_Discreate VARCHAR(3) = NULL,
	
	@_nr VARCHAR(10) = NULL,
	@_ch12Phase VARCHAR(17) = NULL,
	@_ch34Phase CHAR(10) = NULL,
	@_tonePhase VARCHAR(10) = NULL,
	@_timeCode VARCHAR(15) = NULL,
	@_tcInteg VARCHAR(15) = NULL,
	@_compSync VARCHAR(10) = NULL,
	@_qcInUnity NVARCHAR(3) = NULL,
	@_surroundSound NVARCHAR(3) = NULL,
	@_ltcMatch NVARCHAR(3) = NULL,
	
	@_fullQC_ch1 BIT = 0,
	@_fullQC_ch2 BIT = 0,
	@_fullQC_ch3 BIT = 0,
	@_fullQC_ch4 BIT = 0,
	@_fullQC_ch5 BIT = 0,
	@_fullQC_ch6 BIT = 0,
	@_fullQC_ch7 BIT = 0,
	@_fullQC_ch8 BIT = 0,
	@_fullQC_ch9 BIT = 0,
	@_fullQC_ch10 BIT = 0,
	@_fullQC_ch11 BIT = 0,
	@_fullQC_ch12 BIT = 0,
	@_fullQC_ch13 BIT = 0,
	@_fullQC_ch14 BIT = 0,
	@_fullQC_ch15 BIT = 0,
	@_fullQC_ch16 BIT = 0,
	@_fullQC_ch17 BIT = 0,
	@_fullQC_ch18 BIT = 0,
	@_fullQC_ch19 BIT = 0,
	@_fullQC_ch20 BIT = 0,
	@_fullQC_ch21 BIT = 0,
	@_fullQC_ch22 BIT = 0,
	@_fullQC_ch23 BIT = 0,
	@_fullQC_ch24 BIT = 0,
	@_fullQC_cue BIT = 0,
	@_spotQC_ch1 BIT = 0,
	@_spotQC_ch2 BIT = 0,
	@_spotQC_ch3 BIT = 0,
	@_spotQC_ch4 BIT = 0,
	@_spotQC_ch5 BIT = 0,
	@_spotQC_ch6 BIT = 0,
	@_spotQC_ch7 BIT = 0,
	@_spotQC_ch8 BIT = 0,
	@_spotQC_ch9 BIT = 0,
	@_spotQC_ch10 BIT = 0,
	@_spotQC_ch11 BIT = 0,
	@_spotQC_ch12 BIT = 0,
	@_spotQC_ch13 BIT = 0,
	@_spotQC_ch14 BIT = 0,
	@_spotQC_ch15 BIT = 0,
	@_spotQC_ch16 BIT = 0,
	@_spotQC_ch17 BIT = 0,
	@_spotQC_ch18 BIT = 0,
	@_spotQC_ch19 BIT = 0,
	@_spotQC_ch20 BIT = 0,
	@_spotQC_ch21 BIT = 0,
	@_spotQC_ch22 BIT = 0,
	@_spotQC_ch23 BIT = 0,
	@_spotQC_ch24 BIT = 0,
	@_spotQC_cue BIT = 0
	
AS
BEGIN

	SET XACT_ABORT ON
	
	DECLARE @ErrorMsg VARCHAR(300)
	
	BEGIN TRAN
	
	UPDATE 
		[bward].qcAudioTC 
	SET 
		Language1 = @_language1,
		Language2 = @_language2,
		Language3 = @_language3,
		Language4 = @_language4,
		Language5 = @_language5,
		Language6 = @_language6,
		Language7 = @_language7,
		Language8 = @_language8,
		Language9 = @_language9,
		Language10 = @_language10,
		Language11 = @_language11,
		Language12 = @_language12,
		Language13 = @_language13,
		Language14 = @_language14,
		Language15 = @_language15,
		Language16 = @_language16,
		Language17 = @_language17,
		Language18 = @_language18,
		Language19 = @_language19,
		Language20 = @_language20,
		Language21 = @_language21,
		Language22 = @_language22,
		Language23 = @_language23,
		Language24 = @_language24,
		ChannelCount = @_chCount,
		Ch1_Desc = @_ch1_Desc,
		Ch2_Desc = @_ch2_Desc,
		Ch3_Desc = @_ch3_Desc,
		Ch4_Desc = @_ch4_Desc,
		Ch5_Desc = @_ch5_Desc,
		Ch6_Desc = @_ch6_Desc,
		Ch7_Desc = @_ch7_Desc,
		Ch8_Desc = @_ch8_Desc,
		Ch9_Desc = @_ch9_Desc,
		Ch10_Desc = @_ch10_Desc,
		Ch11_Desc = @_ch11_Desc,
		Ch12_Desc = @_ch12_Desc,
		Ch13_Desc = @_ch13_Desc,
		Ch14_Desc = @_ch14_Desc,
		Ch15_Desc = @_ch15_Desc,
		Ch16_Desc = @_ch16_Desc,
		Ch17_Desc = @_ch17_Desc,
		Ch18_Desc = @_ch18_Desc,
		Ch19_Desc = @_ch19_Desc,
		Ch20_Desc = @_ch20_Desc,
		Ch21_Desc = @_ch21_Desc,
		Ch22_Desc = @_ch22_Desc,
		Ch23_Desc = @_ch23_Desc,
		Ch24_Desc = @_ch24_Desc,
		Cue_Desc = @_cue_Desc,
		Ch1_LKFS = @_ch1_LKFS,
		Ch2_LKFS = @_ch2_LKFS,
		Ch3_LKFS = @_ch3_LKFS,
		Ch4_LKFS = @_ch4_LKFS,
		Ch5_LKFS = @_ch5_LKFS,
		Ch6_LKFS = @_ch6_LKFS,
		Ch7_LKFS = @_ch7_LKFS,
		Ch8_LKFS = @_ch8_LKFS,
		Ch9_LKFS = @_ch9_LKFS,
		Ch10_LKFS = @_ch10_LKFS,
		Ch11_LKFS = @_ch11_LKFS,
		Ch12_LKFS = @_ch12_LKFS,
		Ch13_LKFS = @_ch13_LKFS,
		Ch14_LKFS = @_ch14_LKFS,
		Ch15_LKFS = @_ch15_LKFS,
		Ch16_LKFS = @_ch16_LKFS,
      	Ch17_LKFS = @_ch17_LKFS,
		Ch18_LKFS = @_ch18_LKFS,
		Ch19_LKFS = @_ch19_LKFS,
		Ch20_LKFS = @_ch20_LKFS,
		Ch21_LKFS = @_ch21_LKFS,
		Ch22_LKFS = @_ch22_LKFS,
		Ch23_LKFS = @_ch23_LKFS,
		Ch24_LKFS = @_ch24_LKFS,
		Cue_LKFS = @_cue_LKFS,
		Ch1_Tone = @_ch1_Tone,
		Ch2_Tone = @_ch2_Tone,
		Ch3_Tone = @_ch3_Tone,
		Ch4_Tone = @_ch4_Tone,
		Ch5_Tone = @_ch5_Tone,
		Ch6_Tone = @_ch6_Tone,
		Ch7_Tone = @_ch7_Tone,
		Ch8_Tone = @_ch8_Tone,
		Ch9_Tone = @_ch9_Tone,
		Ch10_Tone = @_ch10_Tone,
		Ch11_Tone = @_ch11_Tone,
		Ch12_Tone = @_ch12_Tone,
		Ch13_Tone = @_ch13_Tone,
		Ch14_Tone = @_ch14_Tone,
		Ch15_Tone = @_ch15_Tone,
		Ch16_Tone = @_ch16_Tone,
		Ch17_Tone = @_ch17_Tone,
		Ch18_Tone = @_ch18_Tone,
		Ch19_Tone = @_ch19_Tone,
		Ch20_Tone = @_ch20_Tone,
		Ch21_Tone = @_ch21_Tone,
		Ch22_Tone = @_ch22_Tone,
		Ch23_Tone = @_ch23_Tone,
		Ch24_Tone = @_ch24_Tone,
		Cue_Tone = @_cue_Tone,
		Ch1_Avg = @_ch1_Avg,
		Ch2_Avg = @_ch2_Avg,
		Ch3_Avg = @_ch3_Avg,
		Ch4_Avg = @_ch4_Avg,
		Ch5_Avg = @_ch5_Avg,
		Ch6_Avg = @_ch6_Avg,
		Ch7_Avg = @_ch7_Avg,
		Ch8_Avg = @_ch8_Avg,
		Ch9_Avg = @_ch9_Avg,
		Ch10_Avg = @_ch10_Avg,
		Ch11_Avg = @_ch11_Avg,
		Ch12_Avg = @_ch12_Avg,
		Ch13_Avg = @_ch13_Avg,
		Ch14_Avg = @_ch14_Avg,
		Ch15_Avg = @_ch15_Avg,
		Ch16_Avg = @_ch16_Avg,
		Ch17_Avg = @_ch17_Avg,
		Ch18_Avg = @_ch18_Avg,
		Ch19_Avg = @_ch19_Avg,
		Ch20_Avg = @_ch20_Avg,
		Ch21_Avg = @_ch21_Avg,
		Ch22_Avg = @_ch22_Avg,
		Ch23_Avg = @_ch23_Avg,
		Ch24_Avg = @_ch24_Avg,
		Cue_Avg = @_cue_Avg,
		Ch1_Peak = @_ch1_Peak,
		Ch2_Peak = @_ch2_Peak,
		Ch3_Peak = @_ch3_Peak,
		Ch4_Peak = @_ch4_Peak,
		Ch5_Peak = @_ch5_Peak,
		Ch6_Peak = @_ch6_Peak,
		Ch7_Peak = @_ch7_Peak,
		Ch8_Peak = @_ch8_Peak,
		Ch9_Peak = @_ch9_Peak,
		Ch10_Peak = @_ch10_Peak,
		Ch11_Peak = @_ch11_Peak,
		Ch12_Peak = @_ch12_Peak,
		Ch13_Peak = @_ch13_Peak,
		Ch14_Peak = @_ch14_Peak,
		Ch15_Peak = @_ch15_Peak,
		Ch16_Peak = @_ch16_Peak,
		Ch17_Peak = @_ch17_Peak,
		Ch18_Peak = @_ch18_Peak,
		Ch19_Peak = @_ch19_Peak,
		Ch20_Peak = @_ch20_Peak,
		Ch21_Peak = @_ch21_Peak,
		Ch22_Peak = @_ch22_Peak,
		Ch23_Peak = @_ch23_Peak,
		Ch24_Peak = @_ch24_Peak,
		Cue_Peak = @_cue_Peak,
		Ch1_TruePeak = @_ch1_TruePeak,
		Ch2_TruePeak = @_ch2_TruePeak,
		Ch3_TruePeak = @_ch3_TruePeak,
		Ch4_TruePeak = @_ch4_TruePeak,
		Ch5_TruePeak = @_ch5_TruePeak,
		Ch6_TruePeak = @_ch6_TruePeak,
		Ch7_TruePeak = @_ch7_TruePeak,
		Ch8_TruePeak = @_ch8_TruePeak,
		Ch9_TruePeak = @_ch9_TruePeak,
		Ch10_TruePeak = @_ch10_TruePeak,
		Ch11_TruePeak = @_ch11_TruePeak,
		Ch12_TruePeak = @_ch12_TruePeak,
		Ch13_TruePeak = @_ch13_TruePeak,
		Ch14_TruePeak = @_ch14_TruePeak,
		Ch15_TruePeak = @_ch15_TruePeak,
		Ch16_TruePeak = @_ch16_TruePeak,
		Ch17_TruePeak = @_ch17_TruePeak,
		Ch18_TruePeak = @_ch18_TruePeak,
		Ch19_TruePeak = @_ch19_TruePeak,
		Ch20_TruePeak = @_ch20_TruePeak,
		Ch21_TruePeak = @_ch21_TruePeak,
		Ch22_TruePeak = @_ch22_TruePeak,
		Ch23_TruePeak = @_ch23_TruePeak,
		Ch24_TruePeak = @_ch24_TruePeak,

		InPhase1 = @_ch1_InPhase,
		InPhase2 = @_ch2_InPhase,
		InPhase3 = @_ch3_InPhase,
		InPhase4 = @_ch4_InPhase,
		InPhase5 = @_ch5_InPhase,
		InPhase6 = @_ch6_InPhase,
		InPhase7 = @_ch7_InPhase,
		InPhase8 = @_ch8_InPhase,
		InPhase9 = @_ch9_InPhase,
		InPhase10 = @_ch10_InPhase,
		InPhase11 = @_ch11_InPhase,
		InPhase12 = @_ch12_InPhase,
		InPhase13 = @_ch13_InPhase,
		InPhase14 = @_ch14_InPhase,
		InPhase15 = @_ch15_InPhase,
		InPhase16 = @_ch16_InPhase,
		InPhase17 = @_ch17_InPhase,
		InPhase18 = @_ch18_InPhase,
		InPhase19 = @_ch19_InPhase,
		InPhase20 = @_ch20_InPhase,
		InPhase21 = @_ch21_InPhase,
		InPhase22 = @_ch22_InPhase,
		InPhase23 = @_ch23_InPhase,
		InPhase24 = @_ch24_InPhase,

		Discreate1 = @_ch1_Discreate,
		Discreate2 = @_ch2_Discreate,
		Discreate3 = @_ch3_Discreate,
		Discreate4 = @_ch4_Discreate,
		Discreate5 = @_ch5_Discreate,
		Discreate6 = @_ch6_Discreate,
		Discreate7 = @_ch7_Discreate,
		Discreate8 = @_ch8_Discreate,
		Discreate9 = @_ch9_Discreate,
		Discreate10 = @_ch10_Discreate,
		Discreate11 = @_ch11_Discreate,
		Discreate12 = @_ch12_Discreate,
		Discreate13 = @_ch13_Discreate,
		Discreate14 = @_ch14_Discreate,
		Discreate15 = @_ch15_Discreate,
		Discreate16 = @_ch16_Discreate,
		Discreate17 = @_ch17_Discreate,
		Discreate18 = @_ch18_Discreate,
		Discreate19 = @_ch19_Discreate,
		Discreate20 = @_ch20_Discreate,
		Discreate21 = @_ch21_Discreate,
		Discreate22 = @_ch22_Discreate,
		Discreate23 = @_ch23_Discreate,
		Discreate24 = @_ch24_Discreate,




		Cue_TruePeak = @_cue_TruePeak,
		NR = @_nr,
		Ch12_Phase = @_ch12Phase,
		Ch34_Phase = @_ch34Phase,
		Tone_Phase = @_tonePhase,
		Time_Code = @_timeCode,
		TCInteg = @_tcInteg,
		Comp_Sync = @_compSync,
		QCinUnity = @_qcInUnity,
		SurroundSound = @_surroundSound,
		LTC_VITC_Match = @_ltcMatch 
		
	WHERE 
		qcNum = @_QCNum
		AND subQCNum = @_rev
		
	UPDATE 
		[bward].qcHeader 
	SET 
		FullQC_Ch1 = @_fullQC_ch1,
		FullQC_Ch2 = @_fullQC_ch2,
		FullQC_Ch3 = @_fullQC_ch3,
		FullQC_Ch4 = @_fullQC_ch4,
		FullQC_Ch5 = @_fullQC_ch5,
		FullQC_Ch6 = @_fullQC_ch6,
		FullQC_Ch7 = @_fullQC_ch7,
		FullQC_Ch8 = @_fullQC_ch8,
		FullQC_Ch9 = @_fullQC_ch9,
		FullQC_Ch10 = @_fullQC_ch10,
		FullQC_Ch11 = @_fullQC_ch11,
		FullQC_Ch12 = @_fullQC_ch12,
		FullQC_Ch13 = @_fullQC_ch13,
		FullQC_Ch14 = @_fullQC_ch14,
		FullQC_Ch15 = @_fullQC_ch15,
		FullQC_Ch16 = @_fullQC_ch16,
		FullQC_Ch17 = @_fullQC_ch17,
		FullQC_Ch18 = @_fullQC_ch18,
		FullQC_Ch19 = @_fullQC_ch19,
		FullQC_Ch20 = @_fullQC_ch20,
		FullQC_Ch21 = @_fullQC_ch21,
		FullQC_Ch22 = @_fullQC_ch22,
		FullQC_Ch23 = @_fullQC_ch23,
		FullQC_Ch24 = @_fullQC_ch24,
		FullQC_Cue = @_fullQC_cue,
		SpotQC_Ch1 = @_spotQC_ch1,
		SpotQC_Ch2 = @_spotQC_ch2,
		SpotQC_Ch3 = @_spotQC_ch3,
		SpotQC_Ch4 = @_spotQC_ch4,
		SpotQC_Ch5 = @_spotQC_ch5,
		SpotQC_Ch6 = @_spotQC_ch6,
		SpotQC_Ch7 = @_spotQC_ch7,
		SpotQC_Ch8 = @_spotQC_ch8,
		SpotQC_Ch9 = @_spotQC_ch9,
		SpotQC_Ch10 = @_spotQC_ch10,
		SpotQC_Ch11 = @_spotQC_ch11,
		SpotQC_Ch12 = @_spotQC_ch12,
		SpotQC_Ch13 = @_spotQC_ch13,
		SpotQC_Ch14 = @_spotQC_ch14,
		SpotQC_Ch15 = @_spotQC_ch15,
		SpotQC_Ch16 = @_spotQC_ch16,
		SpotQC_Ch17 = @_spotQC_ch17,
		SpotQC_Ch18 = @_spotQC_ch18,
		SpotQC_Ch19 = @_spotQC_ch19,
		SpotQC_Ch20 = @_spotQC_ch20,
		SpotQC_Ch21 = @_spotQC_ch21,
		SpotQC_Ch22 = @_spotQC_ch22,
		SpotQC_Ch23 = @_spotQC_ch23,
		SpotQC_Ch24 = @_spotQC_ch24,
		SpotQC_Cue = @_spotQC_cue
		
	WHERE 
		qcNum = @_QCNum
		AND subQCNum = @_rev
	
	COMMIT TRAN
	
		
IF @@ERROR <> 0
	BEGIN
		SET @errorMsg = 'Could not update qcAudioTC and qcHeader (sp_UpdateAudioTC)'
		GOTO Error
	END
		
Error:

	IF (@errorMsg IS NOT NULL)
	BEGIN
		RAISERROR(@errorMsg, 16, 1)
	END
	
END